html
  head
  body
    a(href="/") Move to book part
    br
    a(href="/lib/") Move to library part
    h1 Create form
    form(action="/usr/createUser", method="get")
        input#textField(name="userName", type="text", placeholder="name", required)
        input#textField(name="userSurname", type="text", placeholder="surname", required)
        input#textField(name="userAge", type="number", placeholder="age", required)
        input#textField(name="userSex", type="text", placeholder="sex", required)
        button(type="submit") Create
    if db_type!="mongo"
        include ./allUsers.pug
    else
        include ./mongoAllUsers.pug